**Introduction**

List comprehension allows us to write a code in shorter and better way, when we need to create a new list based on the existing list. 
It's a truly pythonic way of coding. Less code and more effectiveness.

Let us understand with an example:

Suppose if you want to create a list of numbers which are divisible by 3 from 1 to 10000 and wrote the following code..

In [ ]:
# Creating a new list
my_list= []
#Iterating through the list 
for i in range(1,100):
  if i%3==0: # checking if the value of i is divisible by 3 
    my_list.append(i) # if the condition satisfies the value will be appended to the list
print(my_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

There is nothing wrong with the above code but what if I say that we can write the same in single line?

Lets see how it goes:

In [ ]:

my_list1 = [i for i in range(1,101) if i%3==0]
print(my_list1)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

This is how **List Comprehension** makes everything simple and easy.They are even faster than a for loop which is very useful.


Now we will try to understand the **Syntax** of Lists Comprehension:

**list = [expression for item in iterable if condition == true]**

The return value is a new list, leaving the old list unchanged.

**Condition**

It accepts only the elements which satisfies the condition.

Example:

In [ ]:
my_list3 = [16,13,24,12,22,18,13]
eligibity = [age for age in my_list3 if age>=18]
print(eligibity)

[24, 22, 18]

Condition is optional and can be excluded.

Example:

In [ ]:
my_list2 = [ i for i in range(100)]
print(my_list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

**Iterable**

Iterable is a sequence of data that you can iterate over using a loop. 
We use **range()** function to create an iterable.

Lets look at an example:

In [ ]:
 # program to find out even numbers from 0 to 100
 my_list4=[i for i in range(0,100) if i%2==0]
 print(my_list4)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

**Expression**

It is current element in the iteration and also the outcome.

Here is an other example:

In [ ]:
# Program to find out number of spaces in a given string using list comprehension

string = input() 
my_list5 = list(string)
my_list6=[i for i in my_list4 if i == ' ']
print(len(my_list6))

hi sravani sannidhi kovela
3

 Now that we know all the basics of lists comprehension we will try to solve few problems.

In [ ]:
 # Problem 1: Set all the values in the list to upper case
my_list7 = ['Sravani','Revanth','Srija','Kowshika']
my_list8 = [i.upper() for i in my_list7] # 
print(my_list8)

['SRAVS', 'REVANTH', 'SRIJA', 'KOWSHIKA']

In [ ]:
 #Remove all the vowels in the given string
 string= input()
 my_list9= list(string)
 my_list10= "".join([i for i in my_list9 if i not in ['a','e','i','o','u']])
 print(my_list10)

sravani
srvn

In [ ]:
#Find all the words in a string that are less than 5 letters

string = input()
my_list11 = string.split(" ")
my_list12 =" ".join( [i for i in my_list11 if len(i)<5])
print(my_list12)

hi these
hi