**Disclaimer:** ‚ö†Ô∏è‚ö†Ô∏èPlease Run the **cells** in ***order*** to avoid errors.‚ö†Ô∏è‚ö†Ô∏è

# Python Documentation
**Link:** https://docs.python.org/3/

## General

In [129]:
print('Hello World!!')

Hello World!!

In [2]:
2+7
2*7

14

### **Difference**

**Need to give individual print statements to every statement individually, else only the last operation will be executed and displayed.**

In [3]:
print(2+7)
print(2*7)

9
14

### **Get INPUT from User**

In [4]:
inp = input('Give Input: ')
print(inp)

Hello!!

### **Indentation**


See the indentation in the second line

In [5]:
if True:
    print('Hi')

Hi

### **Comments**

In [6]:
# This is a Single Line Comment

print('Single Line Comment')

Single Line Comment

In [7]:
"""This is
a Multi
Line Comment"""

print('Multi Line Comment')

Multi Line Comment


# Data Types

**Types**

In [8]:
# 1. Integer Data Type
a = 13
type(a)    #Type function is used to return the data type of the Variable

int

In [9]:
# 2. Float
b = -65.5
type(b)

float

In [10]:
#3. Complex
c = 6 + 4j
type(c)

complex

**Be Careful**

Uncomment the line and Check it out

In [11]:
#  c = 6 + j4 #Provides an Name error <=> Notice the color change as well

In [12]:
# 4. String
d = 'Sriniketh J'
type(d)

str

In [13]:
# 5. Boolean.
e = False
type(e)

bool

In [14]:
# 6. List
f = [2, 'Hi', 5.6, -7-5j, True, None]    #See the values types inside the List
type(f)

list

In [15]:
# 7. Tuple
g = (2, 'Hi', 5.6, -7-5j, True, None)
type(g)

tuple

In [16]:
# 8. Range
h = range(3)   #Range accepts three parameters i.e. range(start, end-1, step)
type(h)

range

In [17]:
# 9. Dictionary
i = {
    'Zero' : 0,
    'One' : 1,
    'Two' : 2
}

type(i)

dict

In [18]:
# 10. Set
j = {'One', 'Two', 3}
type(j)

set

In [19]:
# 11. Frozen Set
k = frozenset(i)
print('Frozen Set is:',k)
print()    # same as  using '\n' or newline
type(k)

Frozen Set is: frozenset({'Zero', 'One', 'Two'})

frozenset

# Operators

## **Arithmetic**

+ Addition
- Subtraction
* Multiplication
/ Division
% Mod (the remainder after dividing)
** Exponentiation (note that ^ does not do this operation, as you might have seen in other languages)
// Divides and rounds down to the nearest integer

In [20]:
print(1 + 3)

4

In [21]:
print(2 - 6)

-4

In [22]:
print(2 * 5)

10

In [23]:
print(10 / 2)     #Normal Division
print(type(10 / 2))

5.0
<class 'float'>

In [24]:
print(10 % 3)    #Return Remainder of the division

1

In [25]:
print(10//3)    #Divides and rounds the numerator to the nearest integer
                       # Expected 3.3333 got 3

3

In [26]:
print(2 ** 5)    #Exponentiation

32

In [27]:
# print(4 / 0)    #ZeroDivisionError raised

## **Comparsion**

In [28]:
print(5 == 4)    #Compares whether LHS is same as RHS and returns a Boolean Value

False

In [29]:
print(5 != 4)     #Checks whether LHS and RHS is not same

True

In [30]:
print(5 > 4)    #Greater than Operator

True

In [31]:
print(5 < 4)    #Less than Operator

False

In [32]:
print(5 >= 4)    #Greater than or Equal to

True

In [33]:
print(4 <= 4)    #Less than or Equal to

True

## **Assignment and In place Operator**

In [34]:
a = 5    #here = is the Assignment Operator
print(a)

5

In [35]:
print('Initial Value: ', a)
a += 1    #Inplace Operator
print('Final Value: ', a)

Initial Value:  5
Final Value:  6

In [36]:
print(-a)    #Unary Operator

-6

## **Bitwise Operators**

### **Bitwise AND**

Returns 1 if both the bits are 1 else 0

### **Bitwise OR**

Returns 1 if either of the bit is 1 else 0.

### **Bitwise NOT**

Returns one‚Äôs complement of the number.

### **Bitwise XOR**

Returns 1 if one of the bits is 1 and the other is 0 else returns false.

**Reference Link:** https://bit.ly/2UZvCMM

In [37]:
a = 10   #1010
b = 4    #0100

# Bitwise AND operation
print("a & b =", a & b)

# Bitwise OR operation
print("a | b =", a | b)

# Bitwise NOT operation
print("~a =", ~a)

# Bitwise XOR operation
print("a ^ b =", a ^ b)

a & b = 0
a | b = 14
~a = -11
a ^ b = 14

## Shift Operators

**Bitwise Right Shift:**
*Shifts the bits of the number to the right and fills 0 on voids left as a result. Similar effect as of dividing the number with some power of two.*


**Bitwise Left Shift:**
*Shifts the bits of the number to the left and fills 0 on voids left as a result. Similar effect as of multiplying the number with some power of two.*

In [38]:
a = 10
b = -10

# Bitwise right shift operator
print("a >> 1 = ", a >> 1)
print("b >> 1 =", b >> 1)

a = 5
b = -10

# Bitwise left shift operator
print("a << 1 =", a << 1)
print("b << 1 =", b << 1)

a >> 1 =  5
b >> 1 = -5
a << 1 = 10
b << 1 = -20

## Logical Operators

In [39]:
# Logical AND Operator
print(1 and 1)

1

In [40]:
# Logical OR Operator
print(0 or 1)

1

In [41]:
# Logical NOT Operator
a = False
print(not a)

True

## Membership Operator

In [42]:
print(f)    #List Variable defined Above
print(2 in f)    # in operator
print('hi' in f)

[2, 'Hi', 5.6, (-7-5j), True, None]
True
False

In [43]:
print(2 not in f)    #not in operator

False

## **Identity Operator**

**is Operator:** *Returns True if the operands or values on both sides of the operator point to the same object and False otherwise.*

**For Example:** if a is b returns 1, then id(a) is same as id(b)

In [44]:
A = [1, 4, 5]
B = [1, 4, 5]    # as they don't point the same object

print(A is B)

False

**is not Operator:** *Returns True if the operands or values on both sides of the operator does not point to the same object and False otherwise.*

**For Example:** if a is not b returns 1, then id(a) is not same as id(b)

In [45]:
A = [1, 4, 5]
B = A    # as they point the same object

print(A is B)

True

# Operations

**Concatenation**

In [46]:
print('a' + 'b')
print('Hello' + ' World!')    #Watch out for the space

ab
Hello World!

**Repetition**

In [47]:
print('Hi' * 3)
print('GWOC ' * 5)    #Watch out for the space

HiHiHi
GWOC GWOC GWOC GWOC GWOC

**Slicing**

üö®üö®üö®üö®Try this on your own you are definitely going to enjoy it!!!üö®üö®üö®üö®

In [48]:
d = 'Winter-of-Contributing-2021'
print('Original String: ', d)
print('String Length: ', len(d))
print()
print('Case 1 - ', d[:])    # Original String
print()
print('Case 2 - ', d[::-1])    # Reversed String
print()
print('Case 3 - ', d[0:4])    # Positive Indexing
print()
print('Case 4 - ', d[-1:-5:-1])    # Negative Indexing

Original String:  Winter-of-Contributing-2021
String Length:  27

Case 1 -  Winter-of-Contributing-2021

Case 2 -  1202-gnitubirtnoC-fo-retniW

Case 3 -  Wint

Case 4 -  1202

## Type Conversion

**Method:** *Specify the data-type in front of the variable/value enclosed with in parathesis*

To get started there are a few examples. Sure that there are lot of diffculties that will be faced here, which will be overcomed after practice.

In [49]:
print('Before Conversion: ', type('4'))
print('After Conversion: ', type(int('4')))

Before Conversion:  <class 'str'>
After Conversion:  <class 'int'>

In [50]:
print(ord('A'))    #Returns corresponding ASCII Value of the Character

65

In [51]:
print(chr(65))    #Returns corresponding Character of the ASCII Value

A

# Control Flow Statements - Sequential

In [52]:
print('First Line')
print('Second Line')
print('Done.')

First Line
Second Line
Done.

## Selection

**IF Statements**

In [53]:
if (1 < 4):    # See the colon after the test expression
    print('Hi')    #Look at the Indentation

Hi

In [54]:
num = int(input('Enter the number: '))
print(num,' initially.')

if (num > 0):
    num += 1
    
print(num, 'it\'s incremented by 1.')

6  initially.
7 it's incremented by 1.

**IF-ELSE Statements**

In [55]:
num = int(input('Enter the number: '))
if (num >= 0):
    print('Positive')
else:                     # See the colon after the else keyword
    print('Negative.')

Negative.

**IF-ELIF-ELSE Statements**

In [56]:
num = int(input('Enter the number: '))
if (num > 0):
    print('Positive.')

elif (num == 0):
    print('Neither positive or negative.')

else:
    print('Negative.')

Neither positive or negative.

**NESTED-IF Statements**

In [57]:
print('Check whether the number is Postitve or Negative.')
num = int(input('Enter the number: '))

if (num >= 0):
    if (num > 0):
        print(num, 'is Positive.')
    else:
        print(num, 'is Neither positive or Negative.')
else:
    print(num, 'is Negative.')

Check whether the number is Postitve or Negative.
4 is Positive.

## Functions

In [58]:
def display():
    
    print('Welcome to the World of Python')

display()

Welcome to the World of Python

### **Types of Functions**

1. Built-in Functions
2. Defined Functions

***Built-in Functions***

In [59]:
# import this     #Try this out yourselves & see the outputüòâüòâ

In [60]:
import math

pi = math.pi
print(pi)

3.141592653589793

***User-Defined Functions***

In [61]:
def add(x):
    return x + 1

inp = int(input('Enter a number: '))
ans = add(inp)
print('Incremented Value:',ans)

Incremented Value: 16

### Key Terms

**1. Arguments**

‚û° Required

‚û° Default

‚û° Keyword

‚û° Variable-Length

In [62]:
## Required Argument ##

def display(s):    # here x is the required aregument whose value is passed from the variable x
    print('\nValue is',s)
    
x = input('Enter a string: ')
display(x)

Value is GWOC

In [64]:
## Keyword Argument ##

def display(s, nat_x, dec_y):
    print('\nString Value:', s)
    print('Integer Value:', nat_x)
    print('Floating Value:', dec_y)
    
a1 = input('Enter string value: ')
a2 = float(input('Enter float value: '))
a3 = int(input('Enter integer value: '))

display(s = a1, nat_x = a3, dec_y = a2)

String Value: Open Source
Integer Value: 9
Floating Value: 21.11

In [65]:
## Default Argument ##

# You can have any number of default arguments in the function
# If there are default arguments, then they must eb written after the non-default arguments

def display(name, course = 'B.E.'):
    print('\nName:',name + '\nCourse:',course)
    
name = input('Enter name: ')

display(name)

Name: Aryan
Course: B.E.

In [66]:
## Variable-Length Argument ##

# in some cases you may not know how many arguments will be passed to the function
# In such cases we can use function call with arbitary number of arguments
# The parameter has to be prefixed with a asterisk (*) to denote the varible-length argument

def fav(name, *subjects):
    print('\nName:', name)
    print('Favourite Subjects are:',end =' ')
    for i in subjects:
        print(i, end = '\t')
        
name = input('Enter name: ')
fav(name, "Python Programming", "Mathematics", "DataScience", "MachineLearning")

Name: Ayushi
Favourite Subjects are: Python Programming	Mathematics	DataScience	MachineLearning

**2. Local Variable**

**3. Global Variable**

In [67]:
num1 = 10    # Global Variable
print('Global Variable num1 =', num1)

def func(num2):    # here num2 is function parameter
    print('In function - Local Variable num2 =', num2)
    num3 = 30
    print('Local Variable num3 =', num3)
    
func(20)
print()
print('num1 again =', num1)    # Global Varible is accessible

# print('num3 out =', num3)    #NameError is num3 is not accessible outside and is the same case with num2 as well

Global Variable num1 = 10
In function - Local Variable num2 = 20
Local Variable num3 = 30

num1 again = 10

In [68]:
# Access Local Variable globally using Global Statement

var_1 = 'Good '

def greet():
    global var_2    # see the color of the global <=> it's a reserved word
    var_2 = 'Morning'
    
greet()
print('Outside function: var1 =', var_1)    # accessed as it is global
print('Outside function: var2 =', var_2)    # local variable made global and accessed

print('Greetings to everyoneüòäüòäüòä', var_1 + var_2)

Outside function: var1 = Good
Outside function: var2 = Morning
Greetings to everyoneüòäüòäüòä Good Morning

**4. Fruitful Functions**

In [69]:
def cube(x):
    return x * x * x

num = int(input('Enter a number: '))
val = cube(num)
print('Cube of', num, 'is:', val)

Cube of 8 is: 512

**5. Lambda/Ananymous Functions**

*Syntax:* ```lambda arguments: expression```

In [70]:
mul = lambda x, y: x * y

num1, num2 = int(input('Enter first number: ')), int(input('Enter second number: '))
print('Multiplication is', mul(num1, num2))

Multiplication is 24

#### Alias
above code is same as writing a user-defined function like

**def mul(x, y):**<br>
**return x * y**

# Sequences

> ***Strings:***  ‚úÖ‚úÖSee previous cells which have strings involved‚úÖ‚úÖ

> ***Lists***

> ***Tuples***

## Lists

### Creating a List

In [71]:
l1 = list()    # is same as writing l1 = []
# initalizing a empty list

print(l1)

[]

In [72]:
l1 = [1, 'Two', 3.0, True]

print('List holds values of all data-types:', l1)

List holds values of all data-types: [1, 'Two', 3.0, True]

### Accessing Values

**Sequence = Seq_Name[start : stop : step]**

>***End stops at end - 1***

*It is not mandatory to define all the three parameters*

In [73]:
l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(l2)
print()

print(l2[5])       # access the 6th element of the list as indexing begins from zero
print(l2[:])       # same list
print(l2[::-1])    # reversed list
print(l2[::2])     # odd numbers
print(l2[1::2])    # even numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

6
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

### Updating Values

#### Changing Values

In [74]:
l3 = l2
print(l3)

l3[4] = 'Five'

print(l3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 'Five', 6, 7, 8, 9, 10]

#### Deleting Values

>***del*** Use if the exact index / element to be deleted is known

>***remove*** Use to delete unknown element and removes the first occurrence of value

In [75]:
# using del keyword

l4 = l3
print('Before Deleting:',l4)

del l4[4]    # deletes the value at 4th index position

print('After Deleting', l4)

Before Deleting: [1, 2, 3, 4, 'Five', 6, 7, 8, 9, 10]
After Deleting [1, 2, 3, 4, 6, 7, 8, 9, 10]

In [76]:
del l4[:]    # deletes entire vealues in the list

print(l4)

[]

In [77]:
del l4    # deletes the list entirely

# print(l4)   # uncomment and check the Ouptut

In [78]:
l5 = [1, 2, 3, 4, 5, 6, 7, 3, 9, 10]
print('Before Removing:', l5)

l5.remove(3)    # removes the first occurence of 3 located at index: 2

print('After Removing:',l5)

Before Removing: [1, 2, 3, 4, 5, 6, 7, 3, 9, 10]
After Removing: [1, 2, 4, 5, 6, 7, 3, 9, 10]

In [79]:
l5.remove(3)    # removes the second occurence at index: -3(negative indexing = index: 7)
print('After Removing Second Occurence:', l5)

After Removing Second Occurence: [1, 2, 4, 5, 6, 7, 9, 10]

### Nested Lists

In [80]:
l6 =['hi', 4.2, 8, [2, 4.5, 'me'], True]
print('Nested List:', l6)

Nested List: ['hi', 4.2, 8, [2, 4.5, 'me'], True]

### Acccessing elements of a Nested List

In [81]:
print(l6)
print()

print(l6[1])   # accessing the element at position: 2
print(l6[3])   # accessing the element at position: 4
print(l6[3][2])# accessing the string 'me'

['hi', 4.2, 8, [2, 4.5, 'me'], True]

4.2
[2, 4.5, 'me']
me

______________________________________________________________________________

### Cloning

**Learn More about Cloning here:**

http://bit.ly/cloning_list

_______________________________________________________________________________

### List Operations

- Append
- Inserting

***Adds element to the list***

#### Append

In [82]:
l7 = [1, 2, 3, 4, 5, 6, 7, 3, 9, 10]
print('List Before Appending:', l7)

l7.append(11)    # adds element with value 11 at the end of the list
print('List After Apppending:', l7)

List Before Appending: [1, 2, 3, 4, 5, 6, 7, 3, 9, 10]
List After Apppending: [1, 2, 3, 4, 5, 6, 7, 3, 9, 10, 11]

#### Insert

**Insert takes in two parameters (index, obj)**

*where obj is basically any value*

In [83]:
l8 = [1, 2, 3, 4, 5, 6, 7, 9, 10]
print('List before Appending:', l8)

l8.insert(7, 8)    # here at index: 7 value 8 is added
print('After Inserting:', l8)

List before Appending: [1, 2, 3, 4, 5, 6, 7, 9, 10]
After Inserting: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Count

*Counts the occurence of a particular element is a List*

***Syntax*** *: list_name.count(object)*

In [84]:
l9 = [1, 2, 3, 4, 5, 6, 7, 3, 9, 10]

l9.count(3)

2

### Index

*Returns the first occurence of a particular element is a List. If not found returns a ValueError.*

***Syntax*** *: list_name.count(object)*

In [85]:
print(l9)

l9.index(3)    # returns the first occurence even thogh there is 3 occuring twice

[1, 2, 3, 4, 5, 6, 7, 3, 9, 10]

2

### Reverse

*Reverses the elements in the list.*

***Syntax: list_name.reverse()***

In [86]:
l9.reverse()
print(l9)

[10, 9, 3, 7, 6, 5, 4, 3, 2, 1]

_______________________________________________________________________________

***There are many more List Methods. Feel free to check this out which has a few mentioned:*** https://bit.ly/3zUcCy8
_______________________________________________________________________________

> Access the Lists Docs here: https://bit.ly/3zJTanE

## Tuples

### Creating a Tuple

In [87]:
tup1 = tuple()    #is same as writing >>> tup1 = ()
# above code defines a empty tuple

tup1

()

üö®üö®**Be careful while using a single element tuple**üö®üö®

In [88]:
tup1 = (5, )
# above code initialzes tup1 of type tuple with value 5

print(tup1)
print(type(tup1))

tup1 = (5)
# above code initialzes tup1 of type integer with value 5
# watch for the comma in the code and the output as wellüòâüòâ

print('\n', tup1)
print(type(tup1))

(5,)
<class 'tuple'>

 5
<class 'int'>

In [89]:
tup2 = (1, 'abc', -8.3, 'm')
# tuple named tup2 with mixed values

tup2

(1, 'abc', -8.3, 'm')

### Utility of Tuple

#### **Div Mod Function**

In [90]:
(q, r) = divmod(10, 3)
print('Quotient: ', q)
print('Remainder: ', r)

Quotient:  3
Remainder:  1

### Accessing Elements in a Tuple

**Similar to that of List**

In [91]:
tup4 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print(tup4[:])       # printing as such
print(tup4[::-1])    # reversing tuple

even = tup4[1::2]    # accessing only even numbers
print(even)

odd = tup4[::2]      # accessing only odd numbers
print(odd)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(2, 4, 6, 8, 10)
(1, 3, 5, 7, 9)

### Updating Values in a Tuple

In [92]:
Tup1 = tuple('Numbers')
Tup2 = (6, 7, 8, 9, 10)

Tup3 = Tup1 + Tup2    # cannot alter the values of the same tuple, but can be stored in a new tuple
print(Tup3)

('N', 'u', 'm', 'b', 'e', 'r', 's', 6, 7, 8, 9, 10)

### Deletion Operation

In [93]:
print(Tup2)

(6, 7, 8, 9, 10)

In [94]:
# del Tup2[3]    # prompts a TypeError as we cannot alter the tuple

In [95]:
# as we cannot delete the tuple elements we have to delete the entire tuple

del Tup2

# print(Tup2)    # produces NameError as we have deleted it

### Tuple Assignment

In [96]:
(num1, num2, num3) = (1, num1+1, num2+1)    # make sure that number of elements on the left and right are the same

print(num1, '\t', num2, '\t', num3)

1 	 5 	 7

### Returning Multiple Values

In [97]:
def min_max(values):
    x = max(values)
    y = min(values)
    
    return (x, y)

vals = (96, 54, 33, 34, 11, 77, 83, 32, 98, 51)
print(vals, '\n')

(max_mark, min_mark) = min_max(vals)
max_mark = print('Higest Mark:', max_mark)
min_mark = print('Lowest Mark:', min_mark)

(96, 54, 33, 34, 11, 77, 83, 32, 98, 51)

Higest Mark: 98
Lowest Mark: 11

### Nested Tuples

In [98]:
mark_list = (
             ('A', 'CSE', 95.3),
             ('B', 'ECE', 98.4),
             ('C', 'AI', 100)
)

print(mark_list)
print()

# accessing elemments
print(mark_list[1][1])    # access the element ECE
print(mark_list[0][2])    # access the mark 95.3
print(mark_list[2][0])    # access the ID: 'C'

(('A', 'CSE', 95.3), ('B', 'ECE', 98.4), ('C', 'AI', 100))

ECE
95.3
C

## Dictionary

***They are Mappings rather than Sequences***

### Creating a Dictionary

In [99]:
Dict = dict()    # which is same as writing Dict = {}
# Initializes a empty dictionary

print(Dict)

{}

### About Dictionary Keys

*They are case sensitve*
*Key must be a immutable data types like:*
>**Strings**

>**Numbers**

>**Tuples**

*Keys are case sensitive i.e. name and Name are different keys*

In [107]:
Dict1 = {
    'Name' : 'Girl Script',
    'RollNo' : 2021,
    'Course' : 'OpenSource',
    'Domain' : 'Python',
    'Year' : 2021
}

print(Dict1)

{'Name': 'Girl Script', 'RollNo': 2021, 'Course': 'OpenSource', 'Domain': 'Python', 'Year': 2021}

### Dictionary Comprehension

In [108]:
'''
KEY : Numbers
VALUE : Square of the KEY'''

Dict2 = {x : x ** 2 for x in range(1, 11)}    # Creating key-value pairs using list comprehension

print(Dict2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Accessing Values

In [109]:
print(Dict1)

{'Name': 'Girl Script', 'RollNo': 2021, 'Course': 'OpenSource', 'Domain': 'Python', 'Year': 2021}

In [112]:
# values of dictionary can be access using square brackets, along with its key to obtain value

print('Roll No:', Dict1['RollNo'])

Roll No: 2021

### Adding or Modifying an Item in a Dictionary

***Add new item in dictionary***

In [113]:
print(Dict1)

{'Name': 'Girl Script', 'RollNo': 2021, 'Course': 'OpenSource', 'Domain': 'Python', 'Year': 2021}

In [115]:
# add a new entry to the dictionary

Dict1['Subject'] = 'Notebook Contribution'

print(Dict1)

{'Name': 'Girl Script', 'RollNo': 2021, 'Course': 'OpenSource', 'Domain': 'Python', 'Year': 2021, 'Subject': 'Notebook Contribution'}

***Modifying an Element***

In [117]:
# update the existing key-value pair with the value
Dict1['Year'] = 2022

print(Dict1)

{'Name': 'Girl Script', 'RollNo': 2021, 'Course': 'OpenSource', 'Domain': 'Python', 'Year': 2022, 'Subject': 'Notebook Contribution'}

### Deleting Items

In [118]:
print(Dict1)

del Dict1['Subject']
print("\nSubject Deleted Successfully from Dictionary")

print('\n', Dict1)

{'Name': 'Girl Script', 'RollNo': 2021, 'Course': 'OpenSource', 'Domain': 'Python', 'Year': 2022, 'Subject': 'Notebook Contribution'}

Subject Deleted Successfully from Dictionary

 {'Name': 'Girl Script', 'RollNo': 2021, 'Course': 'OpenSource', 'Domain': 'Python', 'Year': 2022}

In [119]:
Dict1.pop('Year', 0)

print('Dictionary after popping is',Dict1)

# if the key is present it is deleted and returns the deleted 
# value else retruns default value(explicitly defined here)

Dictionary after popping is {'Name': 'Girl Script', 'RollNo': 2021, 'Course': 'OpenSource', 'Domain': 'Python'}

### Sorting Keys

In [120]:
print(Dict1)

{'Name': 'Girl Script', 'RollNo': 2021, 'Course': 'OpenSource', 'Domain': 'Python'}

In [121]:
# using sorted method

print(sorted(Dict1))

['Course', 'Domain', 'Name', 'RollNo']

### Looping

In [122]:
print(Dict1)

{'Name': 'Girl Script', 'RollNo': 2021, 'Course': 'OpenSource', 'Domain': 'Python'}

In [123]:
for key in Dict1:    # Keys alone are accessed here
    print(key, end = ' ')

Name RollNo Course Domain

In [124]:
for value in Dict1.values():    # Values alone are accessed here
    print(value, end = ' ')

Girl Script 2021 OpenSource Python

In [125]:
for key, value in Dict1.items():
    print('Key:', key, '\tValues:', value)

Key: Name 	Values: Girl Script
Key: RollNo 	Values: 2021
Key: Course 	Values: OpenSource
Key: Domain 	Values: Python

### Nested Dictionary

In [126]:
students_data = {
    'Sam' : {'Py': 50, 'JS': 64, 'Java': 95},
    'Harry' : {'Py': 35, 'JS': 41, 'Java': 60},
    'Alex' : {'Py': 99, 'JS': 86, 'Java': 91}
}

for key, value in students_data.items():
    print(key, '\t', value)

Sam 	 {'Py': 50, 'JS': 64, 'Java': 95}
Harry 	 {'Py': 35, 'JS': 41, 'Java': 60}
Alex 	 {'Py': 99, 'JS': 86, 'Java': 91}

### String formatting with Dictionaries

In [128]:
Dict3 = {
    'Sam' : 'Open Source',
    'Alex' : 'Python'
}

for k, v in Dict3.items():
    print("%s is working on %s." % (k, v))

Sam is working on Open Source.
Alex is working on Python.

# More Resources:

**Check this <a href="https://github.com/girlscript/winter-of-contributing/blob/Python/Python/Python_Online_Resources/Curated_List_of_all_Online_Python_Resources.md" target="_blank">link.</a>**