# TUPLE
Tuple is one of the built-in datatype, used to store collections of data. Tuples are representated by{}. 

* Tuple items are **ordered** i.e. indexing can be done.
* Tuples are **unchangeable** or **immutable** i.e. we can't change it's items.
```
example_of_Tuple = (1, True, "David")
```

In [17]:
# Tuples Can be created by
Tuple1 = (1, 2, 3, "Hello", False)
Tuple2 = tuple([1, 2, "World", 3, 4, True, 5])
print('This is Tuple 1 : ',Tuple1)
print('This is Tuple 2 : ',Tuple2)

This is Tuple 1 :  (1, 2, 3, 'Hello', False)
This is Tuple 2 :  (1, 2, 'World', 3, 4, True, 5)

In [18]:
# Tuple items are ordered 
Tuple1 = (1, 10, -3, False, "david", 100, 'john')
print(Tuple1)         
print(Tuple1[2:5])

(1, 10, -3, False, 'david', 100, 'john')
(-3, False, 'david')

In [19]:
# Tuples are unchangeable :- if er try to change its item it will give error
Tuple1 = (1, 10, -3, False, "david", 100, 'john')
Tuple1[3] = 5  # run this to see that it will give error
print(Tuple1)

TypeError: ignored

# Use of len() and type() function 
* **len()** is used to get the length of Tuple.
* Tuples are defined as objects with the data type 'Tuple' for checking the type of variable we use **type()**.

In [20]:
# Use of len() function
Tuple2 = tuple([1, 1, 1, 2, 2, 3, 3, 3, 4, 'david', 'alex', False])
length = len(Tuple2)
print(Tuple2,'has',length,'items')

(1, 1, 1, 2, 2, 3, 3, 3, 4, 'david', 'alex', False) has 12 items

In [21]:
# Use of type() function
Tuple2 = tuple([1, 1, 1, 2, 2, 3, 3, 3, 4, 'david', 'alex', False])
print(type(Tuple2))

<class 'tuple'>

# Accessing items in Tuple
We can access the items of tuple by indexing.

In [22]:
tuple1=(1,2,3,'Hello World')
print('Tuple is :',tuple1)

print('1st item of Tuple is :',tuple1[0])   #indexing always start from 0
print('2nd-4th item of Tuple is :',tuple1[1::])
print('Reverse of Tuple',tuple1[::-1])

Tuple is : (1, 2, 3, 'Hello World')
1st item of Tuple is : 1
2nd-4th item of Tuple is : (2, 3, 'Hello World')
Reverse of Tuple ('Hello World', 3, 2, 1)

# Changing/Adding Items in Tuple
* Once a tuple is created, we cannot change its values. Tuples are unchangeable, or immutable.
* Directly we can't change it's items, but for doing so we can -- 
>Convert the tuple into a list >>> change the list >>> convert the list back into a tuple.

In [23]:
tuple1 = (1, 3, "harry")
print('original Tuple :',tuple1,'and its\'s type is',type(tuple1)) 

tuple_list = list(tuple1)
print('converted Tuple(i.e. list) :',tuple_list,'and its\'s type is',type(tuple_list)) 

tuple_list[1] = "kiwi"
tuple_list.append("new")
tuple1 = tuple(tuple_list)

print('changed tuple :',tuple1)

original Tuple : (1, 3, 'harry') and its's type is <class 'tuple'>
converted Tuple(i.e. list) : [1, 3, 'harry'] and its's type is <class 'list'>
changed tuple : (1, 'kiwi', 'harry', 'new')

# Adding Tuples
We can add tuples by using-
* '+' for adding two tuples.
* **'*'** for replicate tuple.

In [24]:
# Use of +
tuple1 = (1, 2)
tuple2 = (3, 4, 5)

print('First Tuple :',tuple1)
print('Second Tuple :',tuple2)
print('New Tuple(1+2) :',tuple1+tuple2)

First Tuple : (1, 2)
Second Tuple : (3, 4, 5)
New Tuple(1+2) : (1, 2, 3, 4, 5)

In [25]:
# Use of *
tuple1 = (1, 2)

print('Tuple :',tuple1)
print('New Tuple(*2) :',tuple1*2)
print('New Tuple(*4) :',tuple1*4)

Tuple : (1, 2)
New Tuple(*2) : (1, 2, 1, 2)
New Tuple(*4) : (1, 2, 1, 2, 1, 2, 1, 2)

# Some tuple methods
* **count()** returns the number of times a specified item occurs in a tuple.
* **index()** searches the tuple for a specified value and returns the first occuring index of where it was found, if item is not present then it raises error.
* **del** deletes the tuple.

In [26]:
# Use of count()
# Syntax : tuple.count(value)

tuple1 = (1,2,3,4,6,7,5,4,2,3,1,2,3,2,3,5,2,4,5,3,4,5,6,3,4,6)
print('Tuple is :',tuple1)
print("Count of 3 in tuple is :",tuple1.count(3))

Tuple is : (1, 2, 3, 4, 6, 7, 5, 4, 2, 3, 1, 2, 3, 2, 3, 5, 2, 4, 5, 3, 4, 5, 6, 3, 4, 6)
Count of 3 in tuple is : 6

In [27]:
# Use of index()
# Syntax : tuple.index(element, start, end)

tuple1 = (1,2,3,4,6,7,5,4,2,3,1,2,3,2,3,5,2,4,5,3,4,5,6,3,4,6)

print('Tuple is :',tuple1)
print("first-occuring Index of 3 in tuple is :",tuple1.index(3))

print("Index of 3 in last six items of tuple is :",tuple1.index(3,20,26))

Tuple is : (1, 2, 3, 4, 6, 7, 5, 4, 2, 3, 1, 2, 3, 2, 3, 5, 2, 4, 5, 3, 4, 5, 6, 3, 4, 6)
first-occuring Index of 3 in tuple is : 2
Index of 3 in last six items of tuple is : 23

In [28]:
# Use of del
# Syntax : del <tuple_name>

tuple1 = (1,2,3,4)

print('Tuple is :',tuple1)
del tuple1
print(tuple1)   # here this line will raises an error as now tuple1 is not present

Tuple is : (1, 2, 3, 4)

NameError: ignored