Cross-validation
Cross-validation is a statistical method used to estimate the or accuracy of machine learning models. It is also to avoid 
overfitting of the model.

Importing Libraries

In [34]:
import pandas as pd
from numpy import std
from numpy import mean
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [3]:
data=pd.read_csv("heart.csv")

Print of first five rows

In [4]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

Print of last five rows

In [5]:
data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

Print of size of dataset

In [7]:
data.shape

(303, 14)

Building the model

In [ ]:
Splitting of data

In [16]:
x= data.drop(columns="target", axis=1)
y= data["target"]

Training the model using KFold Cross-validation method.

In [23]:
cv = KFold(n_splits=10, random_state=1, shuffle=True)

In [24]:
model = LogisticRegression()

In [25]:
scores = cross_val_score(model, x, y, scoring='accuracy', cv=cv, n_jobs=-1)

In [36]:
mean=mean(scores)
std=std(scores)

In [38]:
print('Accuracy: %.3f (%.3f)' % (mean, std))

Accuracy: 0.839 (0.087)