Cross-validation
Cross-validation is a statistical method used to estimate the or accuracy of machine learning models. It is also to avoid 
overfitting of the model.

Importing Libraries

In [22]:
import pandas as pd
from numpy import std
from numpy import mean
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
data=pd.read_csv("heart.csv")

Print of first five rows

In [3]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

Print of last five rows

In [4]:
data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

Print of size of dataset

In [5]:
data.shape

(303, 14)

Splitting of data

In [6]:
x= data.drop(columns="target", axis=1)
y= data["target"]

Building the model without applying cross-validation

In [7]:
model = LogisticRegression()

Training the model using KFold Cross-validation method.

In [8]:
cv = KFold(n_splits=10, random_state=1, shuffle=True)

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y, random_state=2)

In [9]:
model = LogisticRegression()

In [20]:
model.fit(x_train,y_train)

C:\Users\deept\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [23]:
x_train_prediction =model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [24]:
print("accuracy score for training data : ",training_data_accuracy)

accuracy score for training data :  0.8512396694214877

In [26]:
x_test_prediction =model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)
print("accuracy score for test data : ",test_data_accuracy)

accuracy score for test data :  0.819672131147541

In [ ]:
The above model is overfitting.

In [ ]:
Here, we are applying kfold.

In [10]:
scores = cross_val_score(model, x, y, scoring='accuracy', cv=cv, n_jobs=-1)

In [11]:
mean=mean(scores)
std=std(scores)

In [12]:
print('Accuracy: %.3f (%.3f)' % (mean, std))

Accuracy: 0.839 (0.087)

In [ ]:
Here, we are applying RepeatedKFold

In [13]:
rkf = RepeatedKFold(n_splits=2, n_repeats=2)

In [14]:
scores = cross_val_score(model, x,y, scoring='accuracy', cv=rkf, n_jobs=-1)

In [15]:
print(scores)

[0.80921053 0.83443709 0.82894737 0.78807947]

As we try different cross validation we get different accuracy and then choose the accuracy which has the highest. We can conclude that by cross validation we can also over come overfitting problem. Hence, it helps to overcome overfitting.