# Tuples
Tuple is a data structure used to store mutiple items in a single variable <br>
Tuple is one of 4 built-in data types in Python used to store collections of data

In [25]:
#initializing ways
t = (1,2,3,4)
type(t)
t = tuple((1,2,3,4))
t

(1, 2, 3, 4)

In [ ]:
#identifying length
len(t)

4

**Properties**

Some basic properties include
 >Ordered <br>
 >Unchangable

In [28]:
#tuples are indexed
t[2]
#slicing
t[0:3]

(1, 2, 3)

In [ ]:
#allows duplicates
t1 = ("a","a","b")
t1

('a', 'a', 'b')

In [ ]:
#can contain different datatypes
t2 = (False,4.6,"gh",2)
t2

(False, 4.6, 'gh', 2)

<b>When to use?</b> <br>
When you need a data structure which can hold duplicates, or which cannot get modified later or which can store multiple data types at a time.

#Some more helpful properties

In [20]:
#Tuples are heterogenous i.e. they can also contain other composite objects
t3 = (1,2,[3,4],(5,6))
t3
t3 = (1,2,(3,4)) #nested tuple
t3

(1, 2, (3, 4))

In [22]:
#modifications in objects in a tuple
li = [4,5,6]
t4 = (1,2,3,li)
t4
li.append(7)
t4

(1, 2, 3, [4, 5, 6, 7])

In [23]:
#modifications
t5 = (1,2,3)
t6 = (4,5,6)
t7 = t5+t6
t7

(1, 2, 3, 4, 5, 6)

In [31]:
t8 = (1,3,4)
t9 = (2,)
t10 = t8[:1] + t9 + t8[1:]
t10

(1, 2, 3, 4)