<a href="https://colab.research.google.com/github/itika1/winter-of-contributing/blob/Python/Python/Datatypes/Datatypes_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Datatypes of Python- int, str & float
This documentation is all about Python datatypes. Datatype is one of the important concept of any programming language.

## Introduction
Variables can hold values of different types called data types. Based on the data type of a variable, the interpreter reserves memory for it and also determines the type of data that can be stored in the reserved memory. The five standard data types supported by Python include numbers, strings, list, tuples, and dictionary. We can also create our own data type in Python (like classes).

*You will get to know easily the data type of a variable by simply using the **type()** function*

But in this documentation we will be solely focus on the three built-in datatypes that are int,str and float.

## Numeric types


1.   int
2.   float

## Text types


1.   str

# Datatype int
In order to set/assign some integer value the used datatype for every programming language is int and also it's same for python.
## Source code


```
x = 5 //Initialize the value 5 to the object x
print(x) //Print the value of x i.e 5
print(type(x) // get the type of datatype
```
##Output


```
5
<class 'int'>
```
##Run to check it

In [ ]:
x = 5 
print(x) 
print(type(x))

5
<class 'int'>

## Using Constructor function
Also, by using the int() constructor function we can specify a datatype.
##Source code

In [ ]:
x=int(5)
print(x)
print(type(x))

5
<class 'int'>

# Datatype float
In order to set/assign some non-integer value that includes fraction represented in decimal format, the used datatype is float.
##Source code


```
x = 40.5//Initialize the value 40.5 to the object x
print(x) //Print the value of x i.e 40.5
print(type(x)) // get the type of datatype
```
##Output


```
40.5
<class 'float'>
```
##Run to check it

In [ ]:
x=40.5
print(x)
print(type(x))

40.5
<class 'float'>

## Using Constructor function
Also, by using the float() constructor function we can specify a datatype.

## Source code

In [ ]:
x=float(40.5)
print(x)
print(type(x))

40.5
<class 'float'>

# Datatype str
In order to set/assign some string/chaacter value, the used datatype is float.

## Source code


```
x = "Hello World" //Initialize the string Hello World to x
print(x) //Print the value of x i.e., Hello World
print(type(x)) //Print the type of the datatype
```
##Output


```
Hello World
<class 'str'>
```
##Run to check

In [ ]:
x = "Hello World"
print(x)
print(type(x))

Hello World
<class 'str'>

## Using Constructor function
Also, by using the float() constructor function we can specify a datatype.

## Source code

In [ ]:
x= str("Hello World")
print(x)

Hello World

# Conclusion
Bingo! üëç You've succesfully leant some of the built-in datatypes of Python.

Happy Coding!

**Documentation contributed by [Itika](github.com/itika1) with üíñ**