Name-Bhaswati Roy

Domain Name-Data Science With Python

Issue Name-Dimensionality Reduction(Documentation)

Serial Number-787

Issue Number-464

Batch Number-19

The method by which we can reduce the number of input variables or features we feed into the model is called **Dimensionality Reduction**.

Often Machine Learning Models can not work properly on a large dataset with too many features. It only reduces the capability of the model to make the best prediction from it's side. Also it is needed for proper data visualization

Here's where Dimensionality Reduction comes to play!

Firstly we will import all the required libraries

In [ ]:
#all the required libraries include-Numpy,Pandas,Matplotlib,Seaborn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Loading the dataset

In [ ]:
#a dataset named "Customer Segmentation" is used for the purpose which is in csv format
df=pd.read_csv("Customer Segmentation.csv")

Viewing the 1st 5 rows of the dataset

In [ ]:
df.head()

   Customer Id  Age  Edu  ...  Card Debt  Other Debt  DebtIncomeRatio
0            1   41    2  ...      0.124       1.073              6.3
1            2   47    1  ...      4.582       8.218             12.8
2            3   33    2  ...      6.111       5.802             20.9
3            4   29    2  ...      0.681       0.516              6.3
4            5   47    1  ...      9.308       8.908              7.2

[5 rows x 8 columns]

Viewing the dimensions of the dataset

In [ ]:
#we should always check if our dataset has large number of features or not
#if it has large number of features then we need to apply dimensionality reduction
df.shape

(850, 8)

Since the dataset has large number of features we should apply Dimensionality Reduction Method

The most commonly used and famous Dimensionality Reduction method is Principal Component Analysis (PCA). Sklearn has inbuilt function to implement Principal Component Analysis.

In [ ]:
#the function used for principal component analysis is PCA which is imported here to use
from sklearn.decomposition import PCA
#the parameter n_components signifies the number of columns the final dataset is going to have
pca=PCA(n_components=3)
#fitting+transforming the dataset into the function
principal_components=pca.fit_transform(df)
#now the dataset gets converted into an array form with 3 columns
principal_components

array([[-4.24418889e+02, -2.83543066e+01, -6.87514666e+00],
       [-4.23668359e+02,  5.48747241e+01, -1.11195320e+01],
       [-4.22524766e+02,  9.11669363e+00, -2.52653051e-01],
       ...,
       [ 4.22598295e+02, -2.91020988e+01,  2.73201871e+00],
       [ 4.23545911e+02, -1.72388024e+01,  5.51691894e-01],
       [ 4.24438220e+02,  2.09522249e+01, -1.50381987e+01]])

We can also convert the array to a dataframe format

In [ ]:
#the function used for converting to dataframe is DataFrame
pca_df=pd.DataFrame(principal_components,columns=["Column 1","Column 2","Column 3"])
pca_df.head()

     Column 1    Column 2   Column 3
0 -424.418889  -28.354307  -6.875147
1 -423.668359   54.874724 -11.119532
2 -422.524766    9.116694  -0.252653
3 -421.415030  -29.810484   4.381330
4 -421.111237  206.595937   9.368784

Thus we have converted our dataset to a format of reduced dimensions so we have a better version of the dataset

Now we can further use our dataset to use as per our problem statement and if we compare accuracy of our model before and after using PCA then we can realise the improvement in accuracy due to using PCA